name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ["3.0", "3.1", "3.2", "3.3", "3.4", "3.5.0-preview1"]
        include:
          - ruby-version: "3.5.0-preview1"
            continue-on-error: true

    continue-on-error: ${{ matrix.continue-on-error || false }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run Standard
        run: bundle exec rake standard

      - name: Run tests
        run: bundle exec rake spec

  markdown-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run markdownlint
        uses: avto-dev/markdown-lint@v1
        with:
          config: ".markdownlint.json"
          args: "*.md"

  security:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler-cache: true

      - name: Run bundler-audit
        run: bundle exec bundler-audit check --update
